<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles02.css') }}">
</head>
<body>
    <header>
        <div class="hearder-c">
            <h2>Akary</h2>
        </div>
    </header>

    <section class="titulo">
        <h1>Descargas</h1>
    </section>

    <section class="descripcion">
        <div>
            <h3>¿Listo para descargar?</h3>
            <br>
            <p>Akary está disponible en diferentes versiones. Elija
                una edición a continuación. Para obtener más información,
                lea las instrucciones de instalación.
            </p>
            <br>
            <a href="" class="btn">Instrucciones de instalación</a>
        </div>
    </section>

    <section>
        <h1 class="subt">Eliga la que mas te guste.</h1>
        <div class="descargas">
            <div class="descarga">
                <h3>Akary KDE</h3>
                <p>Versión más avanzada y potente.</p>
                <br>
                <button href="">Descargar</button>
            </div>

            <div class="descarga">
                <h3>Akary Gnome</h3>
                <p>Versión más popular y completa.</p>
                <br>
                <button href="">Descargar</button>
            </div>

            <div class="descarga">
                <h3>Akary Xfce</h3>
                <p>Versión más ligera y rápida.</p>
                <br>
                <button href="">Descargar</button>
            </div>
        </div>
        <br>
    </section>

    <section class="texto">
        <div>
        <h3>¿Integridad y autenticidad?</h3>
        <br>
        <p>Cualquiera puede producir imágenes ISO falsas, es su 
            responsabilidad verificar que está descargando las oficiales.
        </p>
    </section>

    <footer class="footer">
        <h2>Akary</h2>
        <br>
        <p class="desc">Gracias a sus donaciones y publicidad, Akary es completamente gratuito.
            Esperamos que disfrute usándolo tanto como nosotros disfrutamos trabajando en él.</p>
        <br>
        <hr color="white">
        <br>
        <p>&copy; 2024 Akary. Todo los derechos reservados.</p>
    </footer>
</body>
</html>